.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: White;
  z-index: 100;
  width: 100%;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}
.header__center > input {
  outline: none;
  border: none;
  padding: 10px;
  /* outline-width: 0; */
  /* width: 250px; */
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
.header__right > p {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 12px;
}
.header__right > p:hover {
  background-color: #f7f7f7;
  border-radius: 20px;
}
.header__right .global__icon {
  cursor: pointer;
  padding: 8px 12px;
}
.header__right .global__icon:hover {
  border-radius: 20px;
  background-color: #f7f7f7;
}
